{% load i18n %}
<li class="dropdown bookmarks">
    {% if has_self_log %}
        <a id="btn-selflog" title="Self Log" class="btn active " href="{{ clean_self_log_url }}">
    {% else %}
         <a id="btn-selflog" title="Self Log" class="btn" href="{{ self_log_url }}">
    {% endif %}
    <i class="icon-user"></i> {{ 'Me'|truncatechars:9 }}</a>
</li>